.our-focus{
  padding-top: 100px;
  padding-bottom: 100px;

}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1206px;
}

.image-wrap{
  position: relative;;
}
.our-focus-section-wrap{
  display: flex;
}

.bage-name{
  max-width: 58%;
  padding: 55px 30px 55px 50px;
  background-color: #010514;
}

.text{

}

.service-wraper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  
}

.service-card{
  width: 300px;
  border-right: 1px solid black;

}