.header-block{

}

.argo-logo{
  fill:rgba(255, 255, 255, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.8, 1),
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #B2D9DA;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(101, 118, 128, 0.10);
  transition: background 250ms cubic-bezier(0.4, 0, 0.8, 1);
  &:hover{
    background: linear-gradient(196deg, rgba(228, 242, 242, 0.47) 51.61%, #B2D9DA 88.78%);
    .argo-logo{
      fill: rgba(100, 117, 127, 1);
    }
  }
}



.header-container{
  margin-top: 41px;
  display: flex;
  justify-content: space-between;

}
.header-list{
  width: 550px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 20px 10px;
}

.header-item {
  padding: 10px 14px; 
  background: none;
  transition: padding 250ms cubic-bezier(0.4, 0, 0.8, 1),
              background 250ms cubic-bezier(0.4, 0, 0.8, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.8, 1),
              border-radius 250ms cubic-bezier(0.4, 0, 0.8, 1);
  
  &:hover {
    padding: 15px 30px;
    border-radius: 8px;
    background: linear-gradient(341deg, rgba(178, 217, 218, 0.35) 30.77%, rgba(178, 217, 218, 0.00) 76.23%);
    box-shadow: 0px 4px 4px 0px #E4F2F2;
  }
}

.header-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}