.hero{
    padding-top: 170px;
}
.hero-container{
    @media screen and (min-width: 836px) {
       display: flex;
    gap: 143px; 
    }

    @media screen and (min-width: 1444px) {
        gap: 143px;
    }
}

.wellcome-box{
    @media screen and (min-width: 836px) {
     display: flex;
    width: 314px;
    
    flex-direction: column;
    align-items: flex-start;
    gap: 66px;
    flex-shrink: 0;
    }
    @media screen and (min-width: 1444px) {
    width: 522px;
    }
   
}

.hero-head {
    margin-top: 11px;
    font-size: 40px;
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 67.2px */
    @media screen and (min-width: 1444px) {
         font-size: 48px;
        }
}

.hero-txt{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-btn{
    @media screen and (max-width: 836px) {
        margin-top: 30px;
       }

    @include main-btn;
    
}

.hero-image-box{
    position: relative;
}

.image1-wraper {
    @media screen and (min-width: 836px) {
        width: 195px;
        height: 264px;
        border-radius: 22px;
        background-image: url(../images/hero-img1.jpg);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
        background-size: cover;
        background-position-x: center;
        background-repeat: no-repeat;
    }
    @media screen and (min-width: 1444px) {
          width: 282px;
        height: 347px;
    }
}

.image2-wraper {
    @media screen and (min-width: 836px) {
    
    }
    @media screen and (min-width: 1444px) {
        position: absolute;
        bottom: 0;
        z-index: -1;
        left: 172px;
        width: 469px;
        height: 272px;
        border-radius: 22px;
        background-image: url(../images/hero-img2.png);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
        background-size: cover;
        background-position-x: center;
        background-repeat: no-repeat;
    }
}

.wave1{
    @media screen and (min-width: 370px) {
        position: absolute;
        width: 407px;
        left: -40px;
        z-index: -2;
        top:57px;
    }
    @media screen and (min-width: 836px) {
        left: -112px;
        top: 225px;
    }

    @media screen and (min-width: 1444px) {
        width: 455px;
        top: 326px;
}
    transform: rotate(-1.5deg);
}

.wave2{
    @media screen and (min-width: 370px) {
    display: none;
    }

    @media screen and (min-width: 1444px) {
        display: block;
        position: absolute;
        top: 0;
        left: 70px;
        z-index: -2;
    }
    
}

