.our-team-section {
    padding-top: 120px;
}

.teamBox {
    display: flex;
    padding-bottom: 120px;
}

.intro-head {
    margin-left: 93px;
    font-weight: 700;
    font-size: 45px;
}

.intro-txt {
    margin-top: 20px;
    margin-left: 93px;
    font-weight: 200;
    font-size: 25px;
}

.our-team-wawe {
    margin-top: 62px;
    width: 531px;
    height: 363px;
}