
<footer>
    <div>
      <a href="https://twitter.com/Argoadvisory" class="fa fa-twitter"></a>
      <a href="https://www.linkedin.com/company/99943701/" class="fa fa-linkedin"></a>
    </div>
    <div class="footer-links">
      <a href="#" class="footer-link">About</a>
      <a href="#" class="footer-link">Services</a>
      <a href="mailto:info@example.com" class="footer-link">Contact</a>
    </div>
    <div class="footer-copyright">
      <span id="copyright"></span>
    </div>
  </footer>
