<section class="fuel">
    <div class="container fuel-container">
        <div class="fuel-image-box">
            <div class="fuel-image1"></div>
            <img class="wave4" src="./images/wave4.png" alt="wave">
            <div class="fuel-image2"></div>
        </div>

        <div class="fuel-box">
            <h2 class="fuel-head">Let's Fuel Your Business Journey Together!</h2>
            <p class="fuel-txt">Are you an ambitious entrepreneur facing hurdles like managing payroll with a limited runway?
                Let's embark on a transformative journey:
            </p>
            <ul class="fuel-list">
                <li class="fuel-list-item"><div class="list-svg"> 
                    <svg class="circle"        
                    width="25"
                    height="25"><use href="./images/icons.svg#icon-circle"></use>
                   </svg></div>
                    <p class="fuel-list-txt">Revamp Your Business Structure: Overcome roadblocks by restructuring your business for agility and efficiency.</p>
                </li>
                <li class="fuel-list-item"><div class="list-svg"> 
                    <svg class="circle"        
                    width="25"
                    height="25"><use href="./images/icons.svg#icon-circle"></use>
                   </svg> </div>
                    <p class="fuel-list-txt">Craft a Visionary Plan: Develop a comprehensive strategy that unveils new horizons and untapped potential.</p>
                </li>
                <li class="fuel-list-item"><div class="list-svg"> 
                    <svg class="circle"        
                    width="25"
                    height="25"><use href="./images/icons.svg#icon-circle"></use>
                   </svg> </div>
                    <p class="fuel-list-txt">Collaborate with an Innovative Consultant: Partner with a management consultant who dares to explore unorthodox solutions.</p>
                </li>
                <li class="fuel-list-item"><div class="list-svg">
                    <svg class="circle"        
                    width="25"
                    height="25"><use href="./images/icons.svg#icon-circle"></use>
                   </svg> </div>
                    <p class="fuel-list-txt">Realistic Solutions, No Pipe Dreams: Embrace practicality and actionable insights; bid farewell to fanciful thinking.</p>
                </li>
            </ul>
        </div>
    </div>