<header>
  <div class="header-block">
    <div class="container header-container">
      
    <a class="logo-svg" href="./index.html" aria-label="link on main book page">
          <div class="logo">
          <svg class="argo-logo"        
            width="47"
            height="47"><use href="./images/icons.svg#icon-Logo"></use>
           </svg> 
        
      </div>
    </a>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link link" href="#our-service">Services</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#resourses">Resources</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#aboutUs">About</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#getInTouch">Contact</a>
        </li>
      </ul>

      <div class="hamburger-menu js-open-menu" openMenuBtn>
        <span class="hamburger"></span>
        <span class="hamburger"></span>
        <span class="hamburger"></span>

    </div>

    <div class="menu-container js-menu-container" id="mobile-menu">
            
      <button class="toggle-menu-close-round js-close-menu" closeMenuBtn>
          <svg class="toggle-menu-close-point" >
          <use href="./images/icons.svg#icon-close"></use>
      </svg>
      </button>

      <ul class="toggleMenu">
          <li class="toggleMenu-item"><a class="header_item link" href="#our-service">Services</a></li>
          <li class="toggleMenu-item"><a class="header_item link" href="#resourses">Resources</a></li>
          <li class="toggleMenu-item"><a class="header_item link" href="#aboutUs">About</a></li>
          <li class="toggleMenu-item"><a class="header_item link" href="#getInTouch">Contact</a></li>
      </ul>

  </div>

    </div>
  </div>

   

  </header>


