<header>
    <div class="logo">
      <a href="/">
        <img src="/src/images/logo.jpg" alt="Argo-Advisory Logo" />
      </a>
    </div>
    <div class="name">
      <div>Argo-Advisory <span id="openNav">&#9776;</span> </div>
    </div>
  </header>

  <div id="mainSideNav" class="sidenav">
    <a class="closebtn" id="closeNav">&times;</a>
    <a id="navbar-link-about" href="#about">About</a>
    <a id="navbar-link-services" href="#services">Services</a>
    <a href="mailto:info@example.com">Contact</a>
  </div>
