<header>
    <div class="logo">
      <a href="/">
        <img src="/src/images/logo.jpg" alt="Argo-Advisory Logo" />
       

      </a>
      <div class="name">Argo-Advisory </div>
    </div>

      

    <select class="langswitcher">
      <option value="en">English </option>
      <option value="de">Deutsch</option>
  </select>

  

  </header>

  <div id="mainSideNav" class="sidenav">
    <a class="closebtn" id="closeNav">&times;</a>
    <a id="navbar-link-about" href="#about">About</a>
    <a id="navbar-link-services" href="#services">Services</a>
    <a href="mailto:info@example.com">Contact</a>
  </div>

