<section class="journey" id="journey">

    <div class="container journey-container">

        <div class="journey-image-box">
            <div class="journey-image"></div>
            <img class="wave3" width="638" src="./images/wave3.png" alt="wave">
            <div class="journey-video">
                 <video class="video" autoplay muted loop width="462" height="400" >
                    <source src="./video/video.mp4" type="video/mp4">
                 </video>
            </div>
        </div>

        <div class="journey-box">
            <h2 class="journey-head">Every Journey Starts With the First Step!</h2>
            <p class="journey-txt">Are you navigating the complex terrain of corporate finance? Finding yourself operating without a dedicated finance department, needing counsel? Perhaps you're at a pivotal juncture, contemplating upcoming capital raise. 
                Our doors are open to address these intricate queries. 
                Let us illuminate the path forward.
            </p>
            <a class="journey-btn" href="#getInTouch">Get in touch</a>
        </div>
    </div>


</section>