<section class="our-service" id="our-service">
    <div class="container">
    <h2>We realize the best deal</h2>
<div class="service-wraper">
        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3>Business Valuation</h3>
            <p>Know where you are</p>
            <p>At Argo Advisory, we understand that entrepreneurs pour their hearts and souls into building successful businesses</p>
            <a href="">Read more</a>
        </div>

        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3>Due Diligence</h3>
            <p>Have a Peace of Mind</p>
            <p>Financial due diligence is a critical component of any M&A transaction.</p>
            <a href="">Read more</a>
        </div>

        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3>Capital Raise & Exit Planning</h3>
            <p>Enter & Exit On Your Termsv</p>
            <p>We specialize in investor readiness to secure funds through equity, debt , and alternative financing sources.</p>
            <a href="">Read more</a>
        </div>

        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3>Equity Management Assistance</h3>
            <p>We can Manage Non-Product Stuff</p>
            <p>Argo Advisory provides equity management consulting, a pivotal service for the startup founders , offering meticulous oversight, set up and tracking of cap tables with ESOPs, or virtual shares.</p>
            <a href="">Read more</a>
        </div>

        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3>Business Restructuring</h3>
            <p>Make a Plan and Stick With It</p>
            <p>We provide comprehensive restructuring services to assist clients in navigating financial distress, insolvency, strategic changes, and organizational restructuring.</p>
            <a href="">Read more</a>
        </div>

        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3>Business Restructuring</h3>
            <p>Make a Plan and Stick With It</p>
            <p>We provide comprehensive restructuring services to assist clients in navigating financial distress, insolvency, strategic changes, and organizational restructuring.</p>
            <a href="">Read more</a>
        </div>
    </div>
</div>

</section>