<section class="our-service" id="our-service">
    <div class="container">
    <h2>We realize the best deal</h2>
<div class="service-wraper">
        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3 class="lng-card-head1"></h3>
            <p class="lng-card-sub1"></p>
            <p>At Argo Advisory, we understand that entrepreneurs pour their hearts and souls into building successful businesses</p>
            <a href="#" data-hystmodal="#myModal1">Read more</a>
        </div>

        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3 class="lng-card-head2">Due Diligence</h3>
            <p class="lng-card-sub2">Have a Peace of Mind</p>
            <p>Financial due diligence is a critical component of any M&A transaction.</p>
            <a href="#" data-hystmodal="#myModal2" >Read more</a>
        </div>

        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3 class="lng-card-head3">Capital Raise & Exit Planning</h3>
            <p class="lng-card-sub3">Enter & Exit On Your Termsv</p>
            <p>We specialize in investor readiness to secure funds through equity, debt , and alternative financing sources.</p>
            <a href="#" data-hystmodal="#myModal3" >Read more</a>
        </div>

        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3 class="lng-card-head4">Equity Management Assistance</h3>
            <p class="lng-card-sub4">We can Manage Non-Product Stuff</p>
            <p>Argo Advisory provides equity management consulting, a pivotal service for the startup founders , offering meticulous oversight, set up and tracking of cap tables with ESOPs, or virtual shares.</p>
            <a href="#" data-hystmodal="#myModal4" >Read more</a>
        </div>

        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3 class="lng-card-head5">Business Restructuring</h3>
            <p class="lng-card-sub5">Make a Plan and Stick With It</p>
            <p>We provide comprehensive restructuring services to assist clients in navigating financial distress, insolvency, strategic changes, and organizational restructuring.</p>
            <a href="#" data-hystmodal="#myModal5" >Read more</a>
        </div>

        <div class="service-card">
            <img src="/src/images/icons8-business-network-64.png" alt="">
            <h3 class="lng-card-head6">Business Restructuring</h3>
            <p class="lng-card-sub6">Make a Plan and Stick With It</p>
            <p>We provide comprehensive restructuring services to assist clients in navigating financial distress, insolvency, strategic changes, and organizational restructuring.</p>
            <a href="#" data-hystmodal="#myModal6" >Read more</a>
        </div>
    </div>
</div>

<!-- Modal  -->
<div id="myModal1" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn1">&times;</span>
        <p>Detailed information about Business Restructuring...</p>
    </div>
</div>

<div id="myModal2" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn2">&times;</span>
        <p>Detailed information about Due Diligence...</p>
    </div>
</div>
<div id="myModal3" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn2">&times;</span>
        <p>Detailed information about Due Diligence...</p>
    </div>
</div>

<div id="myModal4" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn2">&times;</span>
        <p>Detailed information about Due Diligence...</p>
    </div>
</div>

<div id="myModal5" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn2">&times;</span>
        <p>Detailed information about Due Diligence...</p>
    </div>
</div>

<div id="myModal6" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn2">&times;</span>
        <p>Detailed information about Due Diligence...</p>
    </div>
</div>

</section>