<section class="resourses" id="resourses">
    <div class="container resourses-container">
        <h2 class="resourses-head">Insights and resources</h2>

        <div class="resourses-btn-box"><a class="resourses-btn" href="./insihts-and-resourses.html">Resources</a></div>


            <div class="swiper-action">
                <div class="swiper-buttons">
                        <div class=" button-prev">
                            <svg class="button-icon">
                                <use href="./images/icons.svg#icon-left"></use>
                            </svg>
                        </div>
                        <div class="button-next">
                            <svg class="button-icon">
                                <use href="./images/icons.svg#icon-right"></use>
                            </svg>
                        </div>
                </div>   

            </div>


        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide" >
                <div class="resoursed-card" >
                    <div class="resourses-img-block" >
                    </div>
                    <div class="resourses-txt-block">
                        <h3 class="resourses-txt-block-head">Sports tech startups to watch, according to investors </h3>
                        <p class="resourses-txt-block-txt">VCs from Boost Capital Partners, Active Partners and Moonfire Ventures share their picks 2022 was a record year for sports tech funding in...</p>
                        <a onclick="goToArticle(1)" data-article-id="1" class="readMore-box resourses-readMore-box"><div class="readMore resourses-readMore" >Read more </div><svg class="service-arrow resourses-service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></a>
                    </div>
                </div>
            </div>
              <div class="swiper-slide" >
                <div class="resoursed-card" >
                    <div class="resourses-img-block resourses-img-block2">
                    </div>
                    <div class="resourses-txt-block">
                        <h3 class="resourses-txt-block-head">Birkenstock Public Fundraising </h3>
                        <p class="resourses-txt-block-txt">What is Birkenstock’s unique selling point? Why does it matter, many will ask? After all, it’s just a commodity product...</p>
                        <a onclick="goToArticle(2)" data-article-id="2" class="readMore-box resourses-readMore-box"><div class="readMore resourses-readMore" >Read more </div><svg class="service-arrow resourses-service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></a>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="resoursed-card" >
                    <div class="resourses-img-block resourses-img-block3">
                    </div>
                    <div class="resourses-txt-block">
                        <h3 class="resourses-txt-block-head">GoStudent, a leading Austrian late-stage startup </h3>
                        <p class="resourses-txt-block-txt">GoStudent is an Austrian success story in the venture world dominated by Silicon Valley. In 2021 it hit the trophy status ...</p>
                        <a  onclick="goToArticle(3)"data-article-id="3" class="readMore-box resourses-readMore-box"><div class="readMore resourses-readMore" >Read more </div><svg class="service-arrow resourses-service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></a>
                    </div>
                </div>
              </div>
              <div class="swiper-slide" >
                <div class="resoursed-card" >
                    <div class="resourses-img-block resourses-img-block4">
                    </div>
                    <div class="resourses-txt-block">
                        <h3 class="resourses-txt-block-head">What Happened to Yahoo </h3>
                        <p class="resourses-txt-block-txt">When I went to work for Yahoo after they bought our startup in 1998, it felt like the center of the world. It was supposed to be the next big...</p>
                        <a  onclick="goToArticle(4)"data-article-id="4" class="readMore-box resourses-readMore-box"><div class="readMore resourses-readMore" >Read more </div><svg class="service-arrow resourses-service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></a>
                    </div>
                </div>
              </div>
              
                <div class="swiper-slide" >
                    <div class="resoursed-card" >
                        <div class="resourses-img-block resourses-img-block5">
                        </div>
                        <div class="resourses-txt-block">
                            <h3 class="resourses-txt-block-head">The Original VC and The Man Behind It  </h3>
                            <p class="resourses-txt-block-txt">The first VC firm was founded in 1946 by Georges Doriot (also a founder of INSEAD, the world’s top business school), a French immigrant ...</p>
                            <a  onclick="goToArticle(5)"data-article-id="5" class="readMore-box resourses-readMore-box"><div class="readMore resourses-readMore" >Read more </div><svg class="service-arrow resourses-service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></a>
                        </div>
                    </div>
                  </div>
              <div class="swiper-slide">
                <div class="resoursed-card"></div>
                    <div class="resourses-img-block resourses-img-block6">
                    </div>
                    <div class="resourses-txt-block">
                        <h3 class="resourses-txt-block-head">Ramen Profitable</h3>
                        <p class="resourses-txt-block-txt">Now that the term "ramen profitable" has become widespread, I ought to explain precisely what the idea entails...</p>
                        <a onclick="goToArticle(6)" data-article-id="6" class="readMore-box resourses-readMore-box"><div class="readMore resourses-readMore" >Read more </div><svg class="service-arrow resourses-service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></a>
                    </div>
                </div>
              </div>

            </div>
          </div>

    </div>
    

   
</section>

<script>

function goToArticle(articleId) {
  if (articleId) {
    const url = `insihts-and-resourses.html?article=${articleId}`;
    window.location.href = url;
  }
}
</script>
